:root {
	--vh: 1vh;
	--font-family-base: "Arial", Helvetica, sans-serif;
	--font-size-base: 16px;
	--background-color: azure;
	--text-color: black;
	--highlight-color: rgba(0, 191, 255, 0.5);
	--settings-color: darkgrey;
	--navbar-color: gainsboro;
	--warning-color: red;
	--success-color: green;
}


html, body {
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	color: var(--text-color);
	margin: 0;
	padding: 0;
	height: calc(var(--vh) * 100);
}


.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: var(--navbar-color);
	color: var(--text-color);
	transition: all 0.3s ease;
}

.nav-item:hover {
	background-color: var(--highlight-color);
}

/* Desktop view */
@media (min-width: 768px) {
	#menu-button {
		position: absolute;
		transition: all 0.3s ease;
		top: 15%; /* Position from the top */
		left: 200px; /* Position from the left */
		z-index: 1100; /* Higher than sidebar */
	}


	#menu-button.collapsed {
		transform: translateX(-175px);
	}

	.sidebar {
		height: calc(var(--vh) * 100) !important;
		width: 250px;
		padding: 0;
		margin: 0;
		transform: translateX(0);
	}

	.sidebar.collapsed {
		transform: translateX(-110%);
	}

	.nav-item {
		padding: 0;
		width: 100%;
		left: 0;
	}

	.main {
		margin-left: 250px;
		transition: margin-left 0.3s ease;
	}

	.main.expanded {
		margin-left: 0;
	}
}

/* Mobile view */
@media (max-width: 768px) {
	#menu-button {
		position: absolute;
		bottom: 15%; /* Position from the top */
		left: 50%;
		z-index: 1100;
	}

	.sidebar {
		width: 100%;
		height: calc(var(--vh) * 100);
		text-align:center;
		transform: translateY(0);
		transition: transform 0.75s ease;
	}

	.sidebar.collapsed {
		transform: translateY(120%);
		transition: transform 0.75s ease;
	}

	.main {
		margin-top: 60px;
	}
}
