<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="FitnessPlus App">

	<title>{% block title %}FitnessPlus{% endblock %}</title>

	{% block head %}
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

	<!-- BOOTSTRAP CSS CDN -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
	<!-- CSS Stylesheet -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

	<!-- BOXICONS -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<!-- Favicon -->
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

	{% endblock %}
</head>


<body>
	<!-- Header section -->
		<!-- NAVIGATION BAR -->
	<header>
		<nav class="navbar" id="header-bar">
			<a class="logo" href="{{ url_for('routes.index') }}" style="text-decoration: none; color: inherit;">FitnessPlus</a>
			<div class="nav-links" id="header-nav-links">
				  <a href="#" id = "ProfileButton" data-profile-url="{{ url_for('routes.profile') }}">Profile</a>
			</div>
		</nav>
	</header>

	<!-- Menu Button -->
	<div>
		<button class="menu-button collapsed" type="button" id="menu-button">
			<box-icon name='chevrons-right' id="menu-icon"></box-icon>
		</button>
	</div>

	<div class="container-fluid">
		<div class="row">
			<!-- Sidebar -->
			<nav id="sidebarMenu" class="sidebar position-fixed collapsed">
				<ul class="nav flex-column p-3">
					<li class="nav-item">
						<a class="nav-link active" href="{{ url_for('routes.log_workout') }}">Start Course</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=" {{ url_for('routes.index') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Metrics</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=" {{ url_for('routes.view_friends') }}">Friends</a>
					</li>
					<li class="nav-item">

						<a class="nav-link" href="#">Training</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('routes.logout') }}">Logout</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	{% block content %}
	{% endblock %}



	<!-- Footer section -->
	<footer class="text-center py-3">
		<p>&copy; 2025 CITS3403 Group 45. No rights reserved.</p>
	</footer>

	{% block scripts %}
	<!-- BOXICON JS -->
	 <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
	<!-- BOOTSTRAP JS CDN -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
	<!-- JavaScript -->
	<script src="{{ url_for('static', filename='js/base.js') }}"></script>
	{% endblock %}
</body>
</html>
