<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- BOXICONS -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<!-- BOOTSTRAP CSS CDN -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
	<!-- CSS Styles (REPLACE WITH FLASK VERSION WHEN BACKEND IS ADDED) -->
	<link rel="stylesheet" href="/app/static/css/base.css">
	<!------ <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> -->

	<!------ Favicon (REPLACE WITH FLASK VERSION WHEN BACKEND IS ADDED) -->
	<link rel="icon" href="/app/static/images/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/app/static/images/favicon.ico" type="image/x-icon">
	<!------
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	-->

	<!------ Meta description (CHANGE THIS LATER) -->
	<meta name="description" content="Welcome to Gainsboro, the number 1 exercise app for all your needs!">
</head>


<body>

	<!-- Header section -->
	<header>
		<h1>
			<i class='bx bx-dumbbell' ></i> WELCOME TO GAINSBORO <i class='bx bx-dumbbell' ></i>
		</h1>
	</header>

	<!-- Navbar / Toggle -->
	<div>
		<div class="container-fluid">
			<box-icon name='menu-alt-left' type="button" id="menu-button" onclick="toggleSidebar()"></box-icon>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<!-- Sidebar -->
			<nav id="sidebarMenu" class="sidebar position-fixed">
				<ul class="nav flex-column p-3">
					<li class="nav-item">
						<a class="nav-link active" href="#">Start Course</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Health</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Logout</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<!-- Footer section -->
	<footer>
		<p>&copy; 2025 CITS3403 Group 45. No rights reserved.</p>
	</footer>

	<!-- BOXICON JS -->
	 <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

	<!-- BOOTSTRAP JS CDN -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

	<!------ JavaScript (REPLACE WITH FLASK VERSION WHEN BACKEND IS ADDED) -->
	<script src="../static/js/base.js"></script>
	<!-- <script src="{{ url_for('static', filename='js/base.js') }}"></script> -->

</body>
</html>
