{% extends "base.html" %}
{% block title %}FitnessPlus Exercise Page{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block content %}
  <header class="dashboard-header">
    <h1>Let's Exercise 🏋️</h1>
  </header>
  
  <div class="form-row">
    <form id="exercise-form">
      <div class="form-row">
        <label for="muscle" class="form-label">Target Muscle:</label>
        <select name="muscle" class="form-control">
          <option value="" disabled selected>Select a muscle group</option>
        </select>
        <button type="submit" class="cool-button">Get Exercises</button>
      </div>
    </form>
  </div>

  <h1 id="exercise-heading">Exercises</h1>
  <div id="exercise-list" class="card-container"></ul></div>
  <p id="debug-message" style="color: red;"></p>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/exercise.js') }}"></script>
{% endblock %}