{% extends "base.html" %}
{% block title %}FitnessPlus Main Page{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}


{% block content %}
<header class="dashboard-header">
	<h1>Welcome back, {{ username }}!</h1>
</header>

<!-- MAIN DASHBOARD CONTENT -->
<main class="dashboard">

	<!-- Today's Workout CARD -->
	<section class="card" id="today-workout">
		<div class="card-header">
			<h2>🏋 Today's Workout</h2>
		</div>
		<div class="card-body">
		  <table class="table table-striped table-bordered">
			<thead>
			  <tr>
				<th>Exercise</th>
				<th>Sets</th>
				<th>Reps</th>
				<th>Weight (kg)</th>
			  </tr>
			</thead>
			<tbody>
			  {% for plan in plans %}
			  <tr>
				<td>{{ plan.exercise }}</td>
				<td>{{ plan.sets }}</td>
				<td>{{ plan.reps }}</td>
				<td>{{ plan.weights }}</td>
			  </tr>
			  {% endfor %}
			</tbody>
		  </table>
		</div>


		<button class="cool-button" onclick="location.href='{{ url_for('routes.start_exercise') }}';">Start Course</button>
	</section>

	<!-- Progress Tracker CARD -->
	<section class="card" id="progress-tracker">
		<div class="card-header">
			<h2>📈 Progress Tracker</h2>
		</div>
		<!-- Placeholder for progress tracker items @special case -->
		<div class="progress-tracker-item">
			<h3>Calories Intake</h3>
			<div class="chart-placeholder">Chart Placeholder</div>
		</div>

		<div style="margin-bottom: 1rem;">
			<label for="timeRange">View: </label>
			<select id="timeRange">
				<option value="month">This Month</option>
				<option value="year">This Year</option>
				<option value="all">All Time</option>
			</select>
		</div>

		<div class="progress-tracker-item">
			<h3>Calories Burnt</h3>
			<canvas id="caloriesburntchart" width="400" height="200"></canvas>
		</div>

		<div class="progress-tracker-item">
			<h3>Weight</h3>
			<div class="chart-placeholder">Chart Placeholder</div>
		</div>
	</section>

	<!-- Health CARD -->
	<section class="card" id="health">
		<div class="card-header">
			<h2>♥️ Health</h2>
		</div>
		<div class="card-body">
		  <p>Username: <span id="user-name">{{ user.username }}</span></p>
		  <p>Age: <span id="user-age">{{ age }} years old</span></p>
		  <p>Height: <span id="user-height">{{ user.height }} cm</span></p>
		  <p>Weight: <span id="user-weight">{{ user.weight }} kg</span></p>
		</div>
	</section>

</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="{{ url_for('static', filename='js/caloriesburnt.js') }}"></script
{% endblock %}