{% extends "base.html" %}
{% block title %}FitnessPlus Main Page{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}


{% block content %}
<header class="dashboard-header">
	<h1>Welcome back, {{ username }}!</h1>
</header>

<!-- MAIN DASHBOARD CONTENT -->
<main class="dashboard">

	<!-- Today's Workout CARD -->
	<section class="card" id="today-workout">
		<div class="card-header">
			<h2>🏋 Today's Workout</h2>
		</div>
		<div class="card-body">
			{% for plan in plans %}
			<ul>
				{% for exercise in plan.exercises %}
				<li>{{ exercise }}</li>
				{% endfor %}
			</ul>
			{% endfor %}
		</div>
		<button class="cool-button" onclick="location.href='{{ url_for('routes.start_exercise') }}';">Start Course</button>
	</section>

	<!-- Progress Tracker CARD -->
	<section class="card" id="progress-tracker">
		<div class="card-header">
			<h2>📈 Progress Tracker</h2>
		</div>
		<!-- Placeholder for progress tracker items @special case -->
		<div class="progress-tracker-item">
			<h3>Calories Intake</h3>
			<div class="chart-placeholder">Chart Placeholder</div>
		</div>

		<div class="progress-tracker-item">
			<h3>Calories Burnt</h3>
			<canvas id="caloriesburntchart" width="400" height="200"></canvas>
		</div>

		<div class="progress-tracker-item">
			<h3>Weight</h3>
			<div class="chart-placeholder">Chart Placeholder</div>
		</div>
	</section>

	<!-- Health CARD -->
	<section class="card" id="health">
		<div class="card-header">
			<h2>♥️ Health</h2>
		</div>
		<div class="card-body">
			<p>Name: <span id="user-name">John Doe</span></p>
			<p>Age: <span id="user-age">30</span></p>
			<p>Height: <span id="user-height">180 cm</span></p>
			<p>Weight: <span id="user-weight">75 kg</span></p>
		</div>
	</section>

</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="{{ url_for('static', filename='js/caloriesburnt.js') }}"></script
{% endblock %}