<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <header>
    <!-- Logo of the application -->
    <img src="{{ url_for('static', filename='images/logo.jpg') }}"
         alt="Logo" class="logo">
  </header>

  <form id="loginForm" action="{{ url_for('routes.login') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="login-box">
      <h1>Welcome back!</h1>
      <div class="field">
        <fieldset>
          <legend>Username</legend>
          {{ form.username(id="usernameInput", placeholder="Please enter a username") }}
        </fieldset>
      </div>
      <div class="field">
        <fieldset>
          <legend>Password</legend>
          {{ form.password(id="passwordInput", placeholder="Please enter your password") }}
        </fieldset>
      </div>
     <button type="submit" class="cool-button">{{ form.submit.label.text }}</button>
      {% if error %}
        <!-- Display error message if any -->
        <p class="error">{{ error }}</p>
      {% endif %}
      <p class="tip">Don't have a account?<a href="{{ url_for('routes.signup') }}">Signup</a></p>
    </div>
  </form>

  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
