{% extends "base.html" %}
{% block title %}FitnessPlus Profile{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}


{% block content %}
<div class = "container-sm">
	<main class="dashboard profile-dashboard">
		<!-- Profile Info CARD -->
		<section class="card" id="profile-info">
			<div class="card-header">
				<h2>👤 Profile</h2>
			</div>
			<div class="card-body profile-info-body">
				<img src="{{ url_for('static', filename='profile_pics/' + user.profile_pic) if user.profile_pic else url_for('static', filename='images/user.png') }}"
						alt="Profile Picture" class="profile-pic">


				<div class="profile-details">
					<p><strong>Username:</strong> {{ user.username }}</p>
					<p><strong>Friends:</strong> {{ user.friends_count }}</p>
					<p><strong>Height:</strong> {{ user.height }} cm</p>
					<p><strong>Date of Birth:</strong> {{ user.dob }}</p>
					<button class="cool-button" onclick="location.href='{{ url_for('routes.edit_profile') }}';">Edit Profile</button>
				</div>
			</div>
		</section>


		<!-- Workout History CARD -->
		<section class="card" id="workout-history">
			<div class="card-header">
				<h2>🏋️ Workout History</h2>
			</div>
			<div class="card-body">
				{% for workout in workout_history %}
					<div class="card-body workout-card" id="workout-{{ workout.workout_id }}">
						<p><strong>Date:</strong> {{ workout.date }}</p>
						<p><strong>Exercise:</strong> {{ workout.exercise }}</p>
						<p><strong>Sets:</strong> {{ workout.sets }}</p>
						<p><strong>Reps:</strong> {{ workout.reps }}</p>
						<p><strong>Weight:</strong> {{ workout.weights }}</p>
						<p><strong>Calories Burned:</strong> {{ workout.calories_burned }}</p>
						<button class="cool-button" onclick="deleteWorkout({{ workout.workout_id }})">
							Delete Workout
						</button>
					</div>
				{% endfor %}
			</div>
		</section>
	</main>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}